/* DragDrop */
.container-drag {
  text-align: center;
}

/* DragAndDrop */
li.colocaraqui { 
  background: rgb(40, 30, 190);
  border: dashed 1px #000;
  list-style-type: none;
}
li.colocaraqui:before {
  content: "Colocar aquí";
  /* color: #f3e30a; */
  color: #da2310;
}
ul {
  list-style: none; 
  margin:0; padding:0
}
li {
  padding: 5px; 
  /*background:#eee; */
  cursor: move;
  list-style-type: none;
}

/* Navigation */
@keyframes logo-react-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo-react {
    animation: logo-react-spin infinite 20s linear;
  }
}

/*  SideBar  */
.sidebar-subnav li, .sidebar-subnav a {
  padding: 0px;
}