/* DragDrop */
.container-drag {
  text-align: center;
}

/* DragAndDrop */
li.colocaraqui { 
  background: rgb(40, 30, 190);
  border: dashed 1px #000;
  list-style-type: none;
}
li.colocaraqui:before {
  content: "Colocar aquí";
  /* color: #f3e30a; */
  color: #da2310;
}
ul {
  list-style: none; 
  margin:0; padding:0
}
li {
  padding: 5px; 
  /*background:#eee; */
  cursor: move;
  list-style-type: none;
}

/* Navigation */
@keyframes logo-react-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .logo-react {
    animation: logo-react-spin infinite 20s linear;
  }
}

/* SideBar */
#SideBar{
  overflow-y: scroll;
  height: 500px;
  /* overflow-y: scroll; */
}
@media screen and (max-width: 768px) {
  #SideBar{
    overflow-y:hidden;
    height: auto;
  }
}

/* Scroll Bar */
:root {
  --hue-color: 230;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
  --text-color-light: hsl(var(--hue-color), 8%, 66%);
}
::-webkit-scrollbar {
  width: .40rem;
  background-color: var(--scroll-bar-color);
  border-radius: .7rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}